{{#get "posts" limit="3" as |recents|}}
  {{#foreach recents}}
    <article class="recent-post">
      <a href="{{url}}" class="recent-post__image-link">
        {{#if feature_image}}
          <div class="recent-post__image" style="background-image: url({{feature_image}})"></div>
        {{else}}
          <div class="recent-post__image" style="background-image: url({{asset "/img/default_background.jpg"}})"></div>
        {{/if}}
      </a>
      <div class="recent-post__content">
        <a class="recent-post__title underline" href="{{url}}">{{title}}</a>
        <p><i class="icon icon-time-circle"></i>{{date published_at format="YYYY年MM月DD日"}}</p>
      </div>
    </article>
  {{/foreach}}
{{else}}
  <p>暂无最新文章</p>
{{/get}}