<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="True" />
  <title>{{meta_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "poppy.css"}}" />
  {{ghost_head}}
</head>
<body class="{{body_class}}">
<header class="site-header">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a href="/" class="navbar-brand">
        {{#if @blog.logo}}
          <img src="{{@blog.logo}}" alt="logo" width="40" height="40">
        {{/if}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="显示隐藏导航条">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNav" class="collapse navbar-collapse">
        {{navigation}}
      </div>
    </div>
  </nav>
</header>
{{{body}}}
<a href="#" id="backTop">
  {{> "icons/up"}}
</a>
<script src="{{asset "vendor.js"}}"></script>
<script src="{{asset "poppy.js"}}"></script>
{{ghost_foot}}
</body>
</html>