<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="True"/>
  <title>{{meta_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "main.css"}}"/>
  {{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="site-wrapper">
  {{> header}}
  {{{body}}}

  {{#if @labs.subscribers}}
    <div class="outer">
      <div class="inner">
        <section class="newsletter">
          <div class="newsletter-line-wrapper">
            <div class="newsletter-line"></div>
          </div>
          <h2>订阅{{@blog.title}}</h2>
          <p>每周将最新的博客动态发送到您的邮箱</p>
          {{subscribe_form
              form_class="newsletter-form"
              button_class="btn newsletter-button"
              input_class="newsletter-input"
              placeholder="请在此输入您的邮箱地址"
          }}
        </section>
      </div>
    </div>
  {{/if}}

  {{> footer}}
</div>
<a href="javascript:void(0);" id="backTop">
  <i class="icon icon-up"></i>
</a>
<script src="{{asset "main.js"}}"></script>
{{ghost_foot}}
</body>
</html>