{{!< default}}

<div class="cover"
  {{#if @blog.cover_image}} style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}"
>
  <div class="container">
    <img class="avatar" src="/content/images/2018/04/avatar.jpg"
         alt="博主头像">
    <h1 class="title">{{@blog.title}}</h1>
    <h2 class="description">{{@blog.description}}</h2>
  </div>
</div>
<main class="site-main">
  <div class="inner">
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
    {{pagination}}
  </div>
</main>