{{!< default}}

<header class="site-header">
  {{> "site-nav"}}
  <div class="cover"
    {{#if @blog.cover_image}} style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}"
  >
    <img class="logo" src="https://spreadprivacy.com/content/images/2017/08/Dax_288x288_wide.png"
         alt="DuckDuckGo Blog">
    <h1>{{@blog.title}}</h1>
    <h2>{{@blog.description}}</h2>
  </div>
</header>
<main class="site-main">
  <div class="container">
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
    {{pagination}}
  </div>
</main>
{{#if @labs.subscribers}}
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>订阅{{@blog.title}}</h4>
          <p>我会将最新的博客动态发送到您的邮箱中</p>
        </div>
        <div class="col-sm-6">
          {{subscribe_form
              form_class="form-inline"
              input_class="form-control mr-4"
              button_class="btn btn-outline-light"
              placeholder="youremail@example.com"
          }}
        </div>
      </div>
    </div>
  </div>
{{/if}}