{{!< default}}

<main class="site-main outer">
  <div class="inner">
    <h1 class="home-title">{{@blog.title}}</h1>
    <h2 class="home-description">{{@blog.description}}</h2>
    <div class="tag-cloud">
      {{#get "tags" limit="8" include="count.posts" order="count.posts desc" }}
        {{#foreach tags}}
          <a href="/tag/{{slug}}" class="tag tag-{{slug}}">{{name}}</a>
        {{/foreach}}
      {{/get}}
    </div>
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
    {{pagination}}
  </div>
</main>