{{!< default}}

<link rel="stylesheet" type="text/css" href="{{asset "lib/prism/prism.min.css"}}"/>

{{#post}}
  <main class="site-main">
    <article class="post-full {{post_class}}">
      <header class="post-full__header inset-column">
        <h1 class="post-full__title">{{title}}</h1>
        <div class="post-full__meta">
          <span><i class="icon icon-calendar"></i>编辑于{{date updated_at format="YYYY年MM月DD日"}}</span>
          <span><i class="icon icon-message"></i><a href="{{url absolute="true"}}#disqus_thread"></a></span>
        </div>
      </header>
      <div class="outset-column">
        {{#if feature_image}}
          <figure class="post-full__image" style="background-image: url({{feature_image}})"></figure>
        {{else}}
          <figure class="post-full__image"
                  style="background-image: url({{asset "/img/default_background.jpg"}})"></figure>
        {{/if}}
      </div>
      <section class="post-full__content inset-column">
        {{content}}
      </section>
      <footer class="post-full__footer inset-column">
        {{#if tags}}
          <div class="tag-cloud">
            {{#foreach tags}}
              <a href="/tag/{{slug}}" class="tag tag-{{slug}}">{{name}}</a>
            {{/foreach}}
          </div>
        {{/if}}
        <div class="statement">
          <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
            <img src="{{asset "/img/creativecommons-cc.svg"}}" alt="creativecommons" height="30">
          </a>
          转载请注明出处
        </div>
      </footer>
    </article>
  </main>

  {{#if primary_tag}}
    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
      {{#if related_posts}}
        <aside class="article-related inset-column">
          <h4>你可能感兴趣的内容</h4>
          <ul>
            {{#foreach related_posts}}
              <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
          </ul>
        </aside>
      {{/if}}
    {{/get}}
  {{/if}}

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function() {
      this.page.url = "{{url absolute="true"}}";
      this.page.identifier = "ghost-{{comment_id}}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://whezh.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

{{/post}}

<script src="{{asset "lib/prism/prism.min.js"}}"></script>
<script id="dsq-count-scr" src="//whezh.disqus.com/count.js" async></script>
