{{!< default}}

{{#post}}
  <main>
    <article class="post">
      <header class="container post-meta-header">
        <div class="post-author">
          {{#author}}
            {{#if profile_image}}
              <a class="avatar" href="{{url}}">
                <img class="avatar-image" src="{{profile_image}}" alt="{{name}}" />
              </a>
            {{/if}}
            <div class="info">
              <p class="name"><a href="{{url}}">{{name}}</a></p>
              <p class="caption">{{bio}}</p>
              <p class="caption">{{website}}</p>
              <p class="caption">{{location}}</p>
            </div>
          {{/author}}
        </div>
      </header>
      {{#if feature_image}}
        <div class="post-outer">
          <figure>
            <img class="post-image" src="{{feature_image}}" alt="">
          </figure>
        </div>
      {{/if}}
      <div class="post-inner">
        <h1 class="post-title">{{title}}</h1>
        <time class="post-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY年MM月DD日"}}</time>
        <section class="post-content">
          {{content}}
        </section>
      </div>
    </article>
  </main>
{{/post}}