{{!< default}}

<link rel="stylesheet" type="text/css" href="{{asset "lib/prism/prism.min.css"}}"/>

{{#post}}
  <main class="site-main">
    <article class="post-full {{post_class}}">
      <header class="post-full__header inset-column">
        <h1 class="post-full__title">{{title}}</h1>
        <div class="post-full__meta">
          <span><i class="icon icon-calendar"></i>编辑于{{date updated_at format="YYYY年MM月DD日"}}</span>
          <span><i class="icon icon-message"></i><a href="{{url absolute="true"}}#disqus_thread"></a></span>
        </div>
      </header>
      <div class="outset-column">
        {{#if feature_image}}
          <figure class="post-full__image" style="background-image: url({{feature_image}})"></figure>
        {{else}}
          <figure class="post-full__image"
                  style="background-image: url({{asset "/img/default_background.jpg"}})"></figure>
        {{/if}}
      </div>
      <section class="post-full__content inset-column">
        {{content}}
      </section>
      <footer class="post-full__footer inset-column">
        {{#if tags}}
          <div class="tag-cloud">
            {{#foreach tags}}
              <a href="/tag/{{slug}}" class="tag tag-{{slug}}">{{name}}</a>
            {{/foreach}}
          </div>
        {{/if}}
        <div class="reward">
          <p>希望对您能有帮助，打赏随意</p>
          <Button id="rewardBtn" class="btn">支持一下</Button>
        </div>
        <div class="statement">
          <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
            <img src="{{asset "/img/creativecommons-cc.svg"}}" alt="creativecommons" height="30">
          </a>
          转载请注明出处
        </div>
      </footer>
    </article>
  </main>

  {{#if primary_tag}}
    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
      {{#if related_posts}}
        <aside class="article-related inset-column">
          <h4>你可能感兴趣的内容</h4>
          <ul>
            {{#foreach related_posts}}
              <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
          </ul>
        </aside>
      {{/if}}
    {{/get}}
  {{/if}}

  <div id="rewardOverlay">
    <span id="closeReward"></span>
    <div class="reward-overlay__content">
      <h2 class="title">感谢您的支持</h2>
      <p>非常感谢您对我的支持，支持我把博客做得更好，写出更多优质的内容，帮助更多的人。您的捐赠将会用于支付基础设施费用，提升网站质量。</p>
      <div class="money-code-container">
        <div class="money-code">
          <span>支付宝</span>
          <img src="{{asset "img/m_alipay.jpg"}}" width="200" alt="支付宝">
        </div>
        <div class="money-code">
          <span>微信</span>
          <img src="{{asset "img/m_wx.jpg"}}" width="200" alt="微信">
        </div>
      </div>
    </div>
  </div>

  <div id="disqus_thread" class="inset-column"></div>
  <script>
    var disqus_config = function() {
      this.page.url = "{{url absolute="true"}}";
      this.page.identifier = "ghost-{{comment_id}}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://whezh.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

{{/post}}

<script>
  // Toggle reward overlay
  const rewardOverlay = document.getElementById('rewardOverlay');
  const toggleRewardOverlay = function() {
    rewardOverlay.classList.toggle('show');
  };

  document.getElementById('rewardBtn')
      .addEventListener('click', toggleRewardOverlay);
  document.getElementById('closeReward')
      .addEventListener('click', toggleRewardOverlay);
</script>
<script src="{{asset "lib/prism/prism.min.js"}}"></script>
<script id="dsq-count-scr" src="//whezh.disqus.com/count.js" async></script>
